<h1>Home#main</h1>
<p>Find me in app/views/home/main.html.erb</p>

<h1>What's happening in the world today</h1>

<div id = 'left'> Left pane (Weather, and information) </div>
<div id = 'map'> Main pane, map </div>
<div id = 'right'> Right pane Friends and status notifications </div>


<div id = 'feed'> Post feed </div>



