<!DOCTYPE html>
<html>
<head>
	<title>Drifter</title>
</head>
<body>
	<h3><%= link_to 'Home', controller: 'articles' %></h3>
	<br>
	<h1>Drifter</h1>


	<!--<p>Find me in app/views/welcome/index.html.erb</p> !!SlateforRemoval-->
	<p id = 'blurb_top'> Drifter is a social network for the world </p>
	<div id = 'block_buttons'>
	<p><%= link_to "Login!", login_path %> <%= link_to "Sign up now!", signup_path %></p>
	</div>
	
	<!--<p>Explore our site <%= link_to "Check out some posts!", articles_path %></p> // Implement later-->
</body>
</html>
