<!DOCTYPE html>
<html>
<head>
	<title>Welcome Back to Drifter, user.name </title>
</head>
<body>
	<%= link_to 'Login/ Signup ',root_path, class: "btn btn-primary btn-lg" %>
	<br>

	<div class="center jumbotron">
	<h1 class= "aboutus">Drifter</h1>


		<!--<p>Find me in app/views/welcome/index.html.erb</p> !SlateforRemoval-->

		<div class = "aboutus">
		<p>
			Drifter is a Social Network for the world
			Created by people that love to travel but want to get the best out of every trip.
			From these priciples, Drifter was Born
		</p>

		</div>
