// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
table tr td{
  padding: 10px;
}

#Show{
  background-color: blue;
  border: solid black;
  text-align: center;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
}
#Edit{
  background-color: green;
  border: solid black;
  text-align: center;

}
#Delete{
  background-color: red;
  border: solid black;
  text-align: center;

}
thead{
clear:both;
  background-color: #00308f;
  color: #FFF;

}

thead th{
  padding: 10px;
}
.list_line_even{
  background-color: #FAEBD7;
}
.list_line_odd{
  background-color: #FEFEFA;
}
#articleWrapper{
  background-color: green;
}
#titlebubble{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: red;
  text-align: center;
}
#textbubble{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 10px;
  text-align: left;
}
