// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
table tr td{
  padding: 10px;
}

#Show{
  background-color: blue;
  border: solid black;
  text-align: center;
  margin: 10px 10px 10px 10px;
text-decoration: none;
}
#Edit{
  background-color: green;
  border: solid black;
  text-align: center;

}
#Delete{
  background-color: red;
  border: solid black;
  text-align: center;

}
thead{
clear:both;
  background-color: #00308f;
  color: #FFF;

}

thead th{
  padding: 10px;
}
.list_line_even{
  background-color: #FAEBD7;
}
.list_line_odd{
  background-color: #FEFEFA;
}
// #articleWrapper{
//   background-color: green;
// }
// p{
//   clear: both;
// }
#titlebubble{
  clear: both;
  float: left;
  // margin-left: 25%;
  // margin-right: 25%;
  // width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 45px;
  margin-bottom: 10px;
  background-color: red;
  text-align: left;
  text-decoration-color:currentColor;
}
#textbubble{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: left;
}
.article-actions{
  clear: both;
}

h3{
  clear: both;
  float: left;
}
