// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left{
	display: inline;
	margin-left: auto;
    margin-right: auto;
	width: 20%;
	background-color: red;

}
#map{
	display: inline;
	margin-left: auto;
    margin-right: auto;
	width: 80%;
	background-color: blue;
}
#right{
	display: inline;
	margin-left: auto;
    margin-right: auto;
    width: 20%;
    background-color: green;
}
#feed{
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    background-color: black;
}
