// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left{
	display: inline;

}
#map{
	display: inline;
}
#right{
	display: inline;
}
#feed{
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    width: 6em;
    background-color: black;
}
