// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: lightblue;
    background-image: url("bg_texture_1");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
}
h1{
	text-align: center;
	font-size: 300%;
}
#block_buttons{ //login + sign up buttons block
	position: absolute;
    left: 39%;
	text-align: center;
	font-size: 150%;
	padding-below: 100%;
}
#blurb_top{
	text-align: center;
}
a{
	background: transparent url('bt_1.png') no-repeat scroll center;
	color: #000;
	display: block;
	float: left;
	height: 300%;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
}

