// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: lightblue;
    background-image: url("bg_map_1");
}
h1{
	text-align: center;
	font-size: 300%;
}
