<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy;
        </small>
        <nav>
            <ul>
                
            </ul>
        </nav>
    </footer>
</div>